*{
    box-sizing: border-box;
    font-family: 'Poiret One', sans-serif;
    margin: 0;
}

$yellow: #FFB400;
$dark: #282828;
$white: #FFFFFF;

html {
    scroll-behavior: smooth;
}

body{
  background-image: url(/fon/fonProm.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.menuBtn.active span:nth-of-type(1) {
    display: none;
  }
  
  .menuBtn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  
  .menuBtn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  
  .menuBtn {
    margin-left: 85%;
    cursor: pointer;
    width: 100px;
    height: 30px;
    position: fixed;
    z-index: 3;
    overflow: hidden;
    display: none;
  }
  
  .menuBtn span {
    width: 30px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: #27AE60;
    transition: all 0.5s;
  }
  
  .menuBtn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  
  .menuBtn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  background-color: $dark;
}
.active{
    border-bottom: 2px solid $yellow;
  }
.logo{
  margin-top: 5px;
  margin-left: 20px;
}
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  button{
    border-radius: 10px;
    background-color:  $yellow;
    color: $dark;
    border: none;
    box-shadow: 2px 2px 10px black;
    width: 176px;
    height: 52px;
    font-size: 23px;
    transition: .5s;
    cursor: pointer;
    &:hover{
      transition: .5s;
      background-color: $white;
    }
  }
  ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      padding-bottom: 10px;
    }
  }
  a{
    text-decoration: none;
    color: $white;
    margin-right: 40px;
    font-size: 23px;
    transition: 1s;
    padding-bottom: 5px;
    border-color: $yellow;
    &:hover{
      border-bottom: 1px solid $yellow;
    }
  }
}

 //Кнопка всплытия SVG
 .btn-up {
    position: fixed;
    background-color: $yellow ;
    right: 50px;
    bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    z-index: 5;
  }
  .btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }
  .btn-up_hide {
    display: none;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
      background-color: #202020; /* цвет заднего фона при наведении */
    }
  }
  //Конец стиля кнопки всплытия SVG


main{
    margin-top: 120px;
    h2{
        color: $dark;
        font-size: 40px;
        font-weight: 200;
        margin-left: 50px;
    }
    .row{
        margin-top: 200px;
        .row-block{
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            img{
                cursor: pointer;
                transition: 1s;
                &:hover{
                    transform: scale(1.3);
                    margin: 20px;
                }
              }
            .row-block__text{
                color: $white;
                margin-top: -100px;
                h2{
                  margin-left: 0px;
                    color: $white;
                    font-size: 45px;
                }
                p{
                    font-weight: 200;
                    margin-top: 35px;
                    font-size: 33px;
                }
            }
        }
    }

    .row-reverse{
        margin-top: 50px;
        .row-reverse-block{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            img{
                cursor: pointer;
                transition: 1s;
                &:hover{
                    transform: scale(1.3);
                    margin: 20px;
                }
              }
            .row-reverse-block__text{
                color: $white;
                h2{
                    margin-left: 0px;
                    color: $white;
                    font-size: 45px;
                }
                p{
                    font-weight: 200;
                    margin-top: 40px;
                    font-size: 33px;
                }
            }
        }
    }

    .content{
       display: none;
    }
}



  footer{
    margin-top: 200px;
    background-color: $dark;
    height: 120px;
    .footer-block{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      button{
        border: none;
        border-radius: 10px;
        background-color: $yellow;
        color: $dark;
        padding: 20px;
        font-size: 23px;
        box-shadow: 2px 2px 15px black;
        cursor: pointer;
        transition: 1s;
        &:hover{
          background-color: $white;
        }
      }
    }
    .upDisplay{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding-bottom: 5px;
        p{
            color: $white;
            font-size: 22px;
        }
        .border{
            margin-left: 15px;
            border-bottom: 4px solid $white;
            border-right: 4px solid $white;
            height: 20px;
            width: 20px;
            transform: rotate(-45deg);
            cursor: pointer;
            transition: .5s;
        }
        &:hover{
            border-bottom: 2px solid $yellow;
            .border{
                margin-left: 20px;
            }
        }
    }
    .footer-block__link{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      a{
        text-decoration: none;
        color: $white;
        font-size: 25px;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
        img{
          margin-right: 10px;
        }
        &:hover{
            border-bottom: 2px solid $yellow;
        }
      }
    }
  }