@charset "UTF-8";
::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  font-family: "Poiret One", sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #282828;
  background-image: url(/fon/fonDev.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.active {
  border-bottom: 1px solid #FFB400;
}

.menuBtn.active span:nth-of-type(1) {
  display: none;
}

.menuBtn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menuBtn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menuBtn {
  margin-left: 85%;
  cursor: pointer;
  width: 100px;
  height: 30px;
  position: fixed;
  z-index: 3;
  overflow: hidden;
  display: none;
}

.menuBtn span {
  width: 34px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: #FFB400;
  transition: all 0.5s;
}

.menuBtn span:nth-of-type(2) {
  top: calc(20% - 5px);
}

.menuBtn span:nth-of-type(3) {
  top: calc(80% + 5px);
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: #282828;
}
header .navig {
  display: flex;
  align-items: center;
  justify-content: center;
}
header button {
  border-radius: 10px;
  background-color: #FFB400;
  color: #282828;
  border: none;
  box-shadow: 2px 2px 10px black;
  width: 176px;
  height: 52px;
  font-size: 23px;
  transition: 0.5s;
  cursor: pointer;
}
header button:hover {
  transition: 0.5s;
  background-color: #FFFFFF;
}

.header-nav__link {
  display: none;
}

.logo {
  margin-top: 5px;
  margin-left: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul a {
  padding-bottom: 10px;
}
nav a {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 40px;
  font-size: 23px;
  transition: 1s;
  padding-bottom: 5px;
  border-color: #FFB400;
}
nav a:hover {
  border-bottom: 1px solid #FFB400;
}

.btn-up {
  position: fixed;
  background-color: #FFB400;
  right: 50px;
  bottom: 10%;
  border-radius: 20%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  z-index: 5;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #202020; /* цвет заднего фона при наведении */
  }
}
main .citata {
  margin-top: 20%;
  margin-left: 10%;
}
main .citata h2 {
  color: #282828;
  font-size: calc(23px + 1.171875vw);
  font-weight: 200;
}
main .wrapper {
  margin-top: 9%;
}
main .wrapper .wrapper-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
main .wrapper h2 {
  font-size: calc(20px + 1.171875vw);
  color: #FFFFFF;
  text-align: center;
  font-weight: 200;
}
main .left {
  margin-top: 10%;
  width: 50%;
}
main .left .left-block .left-block__text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
main .left .left-block .left-block__text .text {
  margin-left: 20px;
}
main .left .left-block .left-block__text h2 {
  color: #282828;
  font-weight: bold;
  font-size: calc(30px + 0.390625vw);
}
main .left .left-block .left-block__text p {
  margin-top: 20px;
  color: #282828;
  font-weight: 200;
  font-size: calc(20px + 0.390625vw);
}
main .rigth {
  margin-top: 10%;
  width: 50%;
}
main .rigth .rigth-block .rigth-block__text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
main .rigth .rigth-block .rigth-block__text .text {
  margin-left: 20px;
  text-align: left;
}
main .rigth .rigth-block .rigth-block__text h2 {
  color: #282828;
  font-weight: bold;
  font-size: calc(30px + 0.390625vw);
}
main .rigth .rigth-block .rigth-block__text p {
  margin-top: 20px;
  color: #282828;
  font-weight: 200;
  font-size: calc(20px + 0.390625vw);
}

footer .footer-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}
footer .footer-block button {
  border: none;
  border-radius: 10px;
  background-color: #FFB400;
  color: #282828;
  padding: 15px;
  font-size: 23px;
  box-shadow: 2px 2px 15px black;
  cursor: pointer;
  transition: 1s;
}
footer .footer-block button:hover {
  background-color: #FFFFFF;
}
footer .footer-block__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
footer .footer-block__link a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
footer .footer-block__link a:hover {
  border-bottom: 1px solid #FFB400;
}
footer .footer-block__link a img {
  margin-right: 10px;
}/*# sourceMappingURL=developer.css.map */