::-webkit-scrollbar {
  width: 0;
}

*{
    box-sizing: border-box;
    font-family: 'Poiret One', sans-serif;
    margin: 0;
}

$yellow: #FFB400;
$dark: #282828;
$white: #FFFFFF;

html {
    scroll-behavior: smooth;
}

body{
  background-color: $dark;
  background-image: url(/fon/fonDev.png);
  background-repeat: no-repeat;
  background-size:cover;
}
.active{
  border-bottom: 1px solid $yellow;
}
.menuBtn.active span:nth-of-type(1) {
    display: none;
  }
  
  .menuBtn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  
  .menuBtn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  
  .menuBtn {
    margin-left: 85%;
    
    cursor: pointer;
    width: 100px;
    height: 30px;
    position: fixed;
    z-index: 3;
    overflow: hidden;
    display: none;
  }
  
  .menuBtn span {
    width: 34px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: $yellow;
    transition: all 0.5s;
  }
  
  .menuBtn span:nth-of-type(2) {

    top: calc(20% - 5px);
  }
  
  .menuBtn span:nth-of-type(3) {

    top: calc(80% + 5px);
  }

header{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: $dark;
  transition: 1s;
  &.color{
    background-color: rgb(40,40,40, 0.5);
    transition: 1s;
  }
  .navig{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button{
    border-radius: 10px;
    background-color:  $yellow;
    color: $dark;
    border: none;
    box-shadow: 2px 2px 10px black;
    width: 176px;
    height: 52px;
    font-size: 23px;
    transition: .5s;
    cursor: pointer;
    &:hover{
      transition: .5s;
      background-color: $white;
    }
  }
}
.header-nav__link{
  display: none;
}
.logo{
  margin-top: 5px;
  margin-left: 20px;
}
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      padding-bottom: 10px;
    }
  }
  a{
    text-decoration: none;
    color: $white;
    margin-right: 40px;
    font-size: 23px;
    transition: 1s;
    padding-bottom: 5px;
    border-color: $yellow;
    &:hover{
      border-bottom: 1px solid $yellow;
    }
  }
}

 
main{
.citata{
  margin-top: 20%;
  margin-left: 10%;
  h2{
    color: $dark;
    font-size: calc(23px + 15 * (100vw / 1280));
    font-weight: 200;
  }
}
.wrapper{
  margin-top: 9%;
  .wrapper-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  h2{
    font-size: calc(20px + 15 * (100vw / 1280));
    color: $white;
    text-align: center;
    font-weight: 200;
  }
}
.left{
  margin-top: 10%;
  width: 50%;
  .left-block{
    .left-block__text{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .text{
        margin-left: 20px;
      }
      h2{
        color: $dark;
        font-weight:bold;
        font-size: calc(30px + 5 * (100vw / 1280));
      }
      p{
        margin-top: 20px;
        color: $dark;
        font-weight: 200;
        font-size: calc(20px + 5 * (100vw / 1280));
      }
    }
  }
}

.rigth{
  margin-top: 10%;
  width: 50%;
  .rigth-block{
    .rigth-block__text{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .text{
        margin-left: 20px;
        text-align: left;
      }
      h2{
        color: $dark;
        font-weight:bold;
        font-size: calc(30px + 5 * (100vw / 1280));
      }
      p{
        margin-top: 20px;
        color: $dark;
        font-weight: 200;
        font-size: calc(20px + 5 * (100vw / 1280));
      }
    }
  }
}
}

footer{
  margin-top: 10%;
  border-top: 1px solid $white;
  background-color: $dark;
  .footer-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    button{

      border: none;
      border-radius: 10px;
      background-color: $yellow;
      color: $dark;
      padding: 15px;
      font-size: 23px;
      box-shadow: 2px 2px 15px black;
      cursor: pointer;
      transition: 1s;
      &:hover{
        background-color: $white;
      }
    }
  }
  .footer-block__link{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    a{
      text-decoration: none;
      color: $white;
      font-size: 20px;
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &:hover{
        text-decoration: underline;
        text-decoration-color: $yellow;
      }
      img{
        margin-right: 10px;
      }
    }
  }
}