::-webkit-scrollbar {
    width: 0;
  }
  
  *{
      box-sizing: border-box;
      font-family: 'Poiret One', sans-serif;
      margin: 0;
  }
  
  $yellow: #FFB400;
  $dark: #282828;
  $white: #F7F6F1;
  
  html {
      scroll-behavior: smooth;
  }
  
  body{
    background-color: $dark;
    background-image: url(/fon/fon-phil.png);
    background-repeat: no-repeat;
    background-size:cover;
  }
  .active{
    text-decoration: underline;
    text-decoration-color: $yellow;
  }
  .menuBtn.active span:nth-of-type(1) {
      display: none;
    }
    
    .menuBtn.active span:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);
    }
    
    .menuBtn.active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg);
    }
    
    .menuBtn {
      margin-left: 85%;
      
      cursor: pointer;
      width: 100px;
      height: 30px;
      position: fixed;
      z-index: 3;
      overflow: hidden;
      display: none;
    }
    
    .menuBtn span {
      width: 34px;
      height: 3px;
      position: absolute;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
      background-color: $yellow;
      transition: all 0.5s;
    }
    
    .menuBtn span:nth-of-type(2) {
  
      top: calc(20% - 5px);
    }
    
    .menuBtn span:nth-of-type(3) {
  
      top: calc(80% + 5px);
    }
  
  header{
    border-top: 4px solid $white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: $dark;
    transition: .2s;
    .header_left{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .header-figur{
      border-bottom: 70px solid $white;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      height: 0;
      width:25vw;
      transition: .2s;
      margin-left: 5%;
      &.colorFigure{
        transition:.5s;
        border-bottom: 70px solid rgb(40,40,40, 0.1);
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        height: 0;
        width:25vw;
      }
    }
    &.color{
      background-color: rgb(40,40,40, 0.5);
      transition: .2s;
    }
    .navig{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    button{
      border-radius: 10px;
      background-color:  $yellow;
      color: $dark;
      border: none;
      box-shadow: 2px 2px 10px black;
      padding: 10px;
      font-size: 23px;
      transition: .5s;
      cursor: pointer;
      &:hover{
        transition: .5s;
        background-color: $white;
      }
    }
  }
  .header-nav__link{
    display: none;
  }
  .logo{
    margin-top: 5px;
    margin-left: 20px;
    width: 60px;
  }
  nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    ul{
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        padding-bottom: 10px;
      }
    }
    a{
      text-decoration: none;
      color: $white;
      margin-right: 40px;
      font-size: 23px;
      transition: 1s;
      padding-bottom: 5px;
      border-color: $yellow;
      &:hover{
        text-decoration: underline;
        text-decoration-color: $yellow;
      }
    }
  }
  
main{
  .table{
    margin-top: -5%;
    background-image: url(/fon/fon_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 900px;
  }
  .table-content1{
    padding-top: 15%;
    color: $white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    .table-content__text{
      color: $dark;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      h2{
        font-size: calc(20px + 15 * (100vw / 1280));
      }
    }
    .table-content__block{
      .table-content__block-img{
        img{
          width: 600px;
        }
      }
    }
  }
  .table-footer{
    margin-top: -5%;
    background-image: url(/fon/fon-kant_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%;
  }
  .wrapper{
    margin-top: 1%;
  }
  .left{
    margin-top: 15px;
    width: 60%;
    .left-block{
      border: 1px solid $white;
      border-left: none;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      padding: 10%;
      .left-block__text{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        p{
          color: $white;
          width: 80%;
          font-weight: 200;
          font-size: calc(20px + 5 * (100vw / 1280));
        }
      }
    }
  }

  .rigth{
    margin-top: 10px;
    margin-left: 40%;   
    .rigth-block{
      border: 1px solid $white;
      border-right: none;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      padding: 10%;
      .rigth-block__text{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        p{
          color: $white;
          width: 80%;
          font-weight: 200;
          font-size: calc(20px + 5 * (100vw / 1280));
        }
      }
    }
  }
}
.media-block{
  display: none;
}
  .footer1{
    border-bottom: 4px solid $white;
    margin-top: 2%;
    background-color: $dark;
    background-image: url(/fon/footer_phil.png);
    background-color: rgb(40,40,40, 0.7);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    .footer-block{
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      padding-top: 5%;
      .footer-block__link{
        margin-left: 4%;
      }
      h2{
        color: $dark;
        font-weight: 200;
        font-size: calc(20px + 10 * (100vw / 1280));
      }
      button{
        margin-top: 27px;
        margin-left: -20%;
        border-radius: 10px;
        background-color:  $yellow;
        color: $dark;
        border: none;
        box-shadow: 2px 2px 10px black;
        padding: 10px;
        font-size: 23px;
        transition: .5s;
        cursor: pointer;
        &:hover{
          transition: .5s;
          background-color: $white;
        }
      }
    }
    
  }