::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  font-family: "Poiret One", sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #282828;
}

.menuBtn.active span:nth-of-type(1) {
  display: none;
}

.menuBtn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menuBtn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menuBtn {
  margin-left: 85%;
  cursor: pointer;
  width: 100px;
  height: 30px;
  position: fixed;
  z-index: 3;
  overflow: hidden;
  display: none;
}

.menuBtn span {
  width: 34px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: #FFB400;
  transition: all 0.5s;
}

.menuBtn span:nth-of-type(2) {
  top: calc(20% - 5px);
}

.menuBtn span:nth-of-type(3) {
  top: calc(80% + 5px);
}

header {
  border-top: 4px solid #F7F6F1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: #282828;
  transition: 0.1s;
}
header .header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .header-figur {
  border-bottom: 70px solid #F7F6F1;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 25vw;
  transition: 0.1s;
  margin-left: 5%;
}
header .header-figur.colorFigure {
  transition: 0.1s;
  border-bottom: 70px solid rgba(40, 40, 40, 0.1);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 25vw;
}
header.color {
  background-color: rgba(40, 40, 40, 0.5);
  transition: 0.5s;
}
header .navig {
  display: flex;
  align-items: center;
  justify-content: center;
}
header button {
  border-radius: 10px;
  background-color: #FFB400;
  color: #282828;
  border: none;
  box-shadow: 2px 2px 10px black;
  padding: 10px;
  font-size: 23px;
  transition: 0.5s;
  cursor: pointer;
}
header button:hover {
  transition: 0.5s;
  background-color: #F7F6F1;
}

.header-nav__link {
  display: none;
}

.logo {
  margin-top: 5px;
  margin-left: 20px;
  width: 60px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul a {
  padding-bottom: 10px;
}
nav a {
  text-decoration: none;
  color: #F7F6F1;
  margin-right: 40px;
  font-size: 23px;
  transition: 1s;
  padding-bottom: 5px;
  border-color: #FFB400;
}
nav a:hover {
  border-bottom: 1px solid #FFB400;
}

.container {
  background-image: url(/fon/fonProm.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  color: #F7F6F1;
  background-image: url(/fon/Group\ 81.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main h2 {
  font-weight: 200;
}
main .table {
  margin-top: -5%;
  background-image: url(/fon/fon_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  max-height: 800px;
}
main .table-content__kant-text {
  width: 100%;
  margin-left: -143%;
  z-index: 1;
}
main .table-content__kant-text img {
  width: 140%;
}
main .table-content {
  padding-top: 18%;
  color: #F7F6F1;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
}
main .table-content .table-content__text {
  color: #282828;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding-left: 50%;
}
main .table-content .table-content__text h2 {
  font-size: calc(20px + 1.171875vw);
  margin-bottom: 18%;
}
main .table-content .table-content__block .table-content__block-img {
  position: absolute;
  background-color: #282828;
  width: 40%;
  margin-left: 8%;
}
main .table-content .table-content__block .table-content__block-img img {
  width: 60%;
  margin-top: -16%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .table-footer {
  margin-top: -5%;
  /*  background-image: url(/fon/fon-kant_header.png);
    background-repeat: no-repeat;
    background-size: cover;*/
  -o-object-fit: cover;
     object-fit: cover;
}
main .dev-site {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -12%;
}
main .dev-site a {
  text-decoration: none;
  color: #F7F6F1;
  z-index: 3;
}
main .dev-site .dev-site-block {
  margin-right: 10%;
}
main .dev-site .dev-site-block .dev-site-block__anim {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 3;
}
main .dev-site .dev-site-block .dev-site-block__anim h2 {
  font-size: calc(30px + 1.953125vw);
  width: 110%;
  height: 70px;
}
main .dev-site .dev-site-block .dev-site-block__anim h2:hover {
  border-bottom: 3px solid #FFB400;
}
main .dev-site .dev-site-block .dev-site__border {
  position: absolute;
  margin-top: 1%;
  margin-left: 31%;
  border-bottom: 4px solid #F7F6F1;
  border-right: 4px solid #F7F6F1;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: 0.5s;
}
main .dev-site img {
  width: 45vw;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
}
main .dev-style {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  z-index: 3;
}
main .dev-style a {
  text-decoration: none;
  color: #F7F6F1;
  z-index: 3;
}
main .dev-style .dev-style-block {
  margin-left: 5%;
}
main .dev-style .dev-style-block .dev-style-block__anim {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 3;
}
main .dev-style .dev-style-block .dev-style-block__anim h2 {
  font-size: calc(25px + 1.5625vw);
  width: 110%;
  height: 108px;
}
main .dev-style .dev-style-block .dev-style-block__anim h2:hover {
  border-bottom: 3px solid #FFB400;
}
main .dev-style .dev-style-block .dev-style__border {
  position: absolute;
  margin-top: 5%;
  margin-left: 30%;
  border-bottom: 4px solid #F7F6F1;
  border-right: 4px solid #F7F6F1;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: 0.5s;
}
main .dev-style .dev-style__img a {
  z-index: 3;
}
main .dev-style .dev-style__img a img {
  width: 45vw;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
}
main .dev-advert {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
main .dev-advert a {
  text-decoration: none;
  color: #F7F6F1;
  z-index: 3;
}
main .dev-advert .dev-advert-block {
  margin-right: 10%;
}
main .dev-advert .dev-advert-block .dev-advert-block__anim {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 3;
  margin-right: -25%;
  padding-bottom: 5px;
}
main .dev-advert .dev-advert-block .dev-advert-block__anim h2 {
  font-size: calc(30px + 1.171875vw);
  height: 110px;
}
main .dev-advert .dev-advert-block .dev-advert-block__anim h2:hover {
  border-bottom: 3px solid #FFB400;
}
main .dev-advert .dev-advert-block .dev-advert__border {
  position: absolute;
  margin-top: 4.5%;
  margin-left: 2%;
  border-bottom: 4px solid #F7F6F1;
  border-right: 4px solid #F7F6F1;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: 0.5s;
}
main .dev-advert .dev-advert__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35vw;
}
main .dev-advert .dev-advert__img a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60%;
  z-index: 3;
}
main .dev-advert .dev-advert__img a .pena {
  margin-top: -200px;
  margin-left: 150px;
  z-index: -100;
}

.media-block {
  display: none;
}

footer {
  background: #282828;
  background: linear-gradient(2.7deg, #282828 68%, rgba(0, 164, 255, 0) 80%);
  margin-top: 5%;
}
footer .footer-block {
  border-bottom: 4px solid #F7F6F1;
  margin-top: 2%;
  background-image: url(/fon/fon-footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vh;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1%;
}
footer .footer-block button {
  margin-top: 27px;
  margin-left: -20%;
  border-radius: 10px;
  background-color: #FFB400;
  color: #282828;
  border: none;
  box-shadow: 2px 2px 10px black;
  padding: 10px;
  font-size: 23px;
  transition: 0.5s;
  cursor: pointer;
}
footer .footer-block button:hover {
  transition: 0.5s;
  background-color: #F7F6F1;
}
footer .footer-block__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 4%;
}
footer .footer-block__link a {
  text-decoration: none;
  color: #F7F6F1;
  font-size: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer .footer-block__link a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #FFB400;
          text-decoration-color: #FFB400;
}
footer .footer-block__link a img {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */