::-webkit-scrollbar {
  width: 0;
}

*{
    box-sizing: border-box;
    font-family: 'Poiret One', sans-serif;
    margin: 0;
}

$yellow: #FFB400;
$dark: #282828;
$white: #F7F6F1;

html {
    scroll-behavior: smooth;
}

body{
  background-color: $dark;
}

.menuBtn.active span:nth-of-type(1) {
    display: none;
  }
  
  .menuBtn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  
  .menuBtn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  
  .menuBtn {
    margin-left: 85%;
    
    cursor: pointer;
    width: 100px;
    height: 30px;
    position: fixed;
    z-index: 3;
    overflow: hidden;
    display: none;
  }
  
  .menuBtn span {
    width: 34px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: $yellow;
    transition: all 0.5s;
  }
  
  .menuBtn span:nth-of-type(2) {

    top: calc(20% - 5px);
  }
  
  .menuBtn span:nth-of-type(3) {

    top: calc(80% + 5px);
  }

header{
  border-top: 4px solid $white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: $dark;
  transition: .1s;
  .header_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header-figur{
    border-bottom: 70px solid $white;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width:25vw;
    transition: .1s;
    margin-left: 5%;
    &.colorFigure{
      transition:.1s;
      border-bottom: 70px solid rgb(40,40,40, 0.1);
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      height: 0;
      width:25vw;
    }
  }
  &.color{
    background-color: rgb(40,40,40, 0.5);
    transition: .5s;
  }
  .navig{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button{
    border-radius: 10px;
    background-color:  $yellow;
    color: $dark;
    border: none;
    box-shadow: 2px 2px 10px black;
    padding: 10px;
    font-size: 23px;
    transition: .5s;
    cursor: pointer;
    &:hover{
      transition: .5s;
      background-color: $white;
    }
  }
}
.header-nav__link{
  display: none;
}
.logo{
  margin-top: 5px;
  margin-left: 20px;
  width: 60px;
}
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      padding-bottom: 10px;
    }
  }
  a{
    text-decoration: none;
    color: $white;
    margin-right: 40px;
    font-size: 23px;
    transition: 1s;
    padding-bottom: 5px;
    border-color: $yellow;
    &:hover{
      border-bottom: 1px solid $yellow;
    }
  }
}

.container{
  background-image: url(/fon/fonProm.png);
  background-repeat: no-repeat;
  background-size:cover;
}

main{
  h2{
    font-weight: 200;
  }
  color: $white;
  background-image: url(/fon/Group\ 81.png);
  background-repeat: no-repeat;
  background-size:cover;
  .table{
    margin-top: -5%;
    background-image: url(/fon/fon_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    max-height: 800px;
  }
  .table-content__kant-text{
    width: 100%;
    margin-left: -143%;
    z-index: 1;
    img{
      width: 140%;
      
    }
  }
  .table-content{
    padding-top: 18%;
    color: $white;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    .table-content__text{
      color: $dark;
      font-weight: bold;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      padding-left: 50%;
      h2{
        font-size: calc(20px + 15 * (100vw / 1280));
        margin-bottom: 18%;
      } 
      
    }
    .table-content__block{
      .table-content__block-img{
        position: absolute;
        background-color: $dark;
        width: 40%;
        margin-left: 8%;
        img{
          width: 60%;
          margin-top: -16%;
          object-fit: cover;
        }
      }
    }
  }
  .table-footer{
    margin-top: -5%;
  /*  background-image: url(/fon/fon-kant_header.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    object-fit: cover;
  }
  .dev-site{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -12%;
    
    a{
      text-decoration: none;
      color: $white;
      z-index: 3;
    }
    .dev-site-block{
      margin-right: 10%;
      .dev-site-block__anim{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        z-index: 3;
        h2{
          font-size: calc(30px + 25 * (100vw / 1280));
          width: 110%;
          height: 70px;
          &:hover{
            border-bottom: 3px solid $yellow;
          }
        }
      }
        .dev-site__border{
          position: absolute;
          margin-top: 1%;
          margin-left: 31%;
          border-bottom: 4px solid $white;
          border-right: 4px solid $white;
          height: 20px;
          width: 20px;
          transform: rotate(-45deg);
          cursor: pointer;
          transition: .5s;
        }
    }
    img{
      width: 45vw;
      object-fit: cover;
      z-index: 3;
    }
  }


  .dev-style{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    z-index: 3;
    a{
      text-decoration: none;
      color: $white;
      z-index: 3;
    }
    .dev-style-block{
      margin-left: 5%;
      .dev-style-block__anim{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        z-index: 3;
        h2{
          font-size: calc(25px + 20 * (100vw / 1280));
          width: 110%;
          height: 108px;
          &:hover{
            border-bottom: 3px solid $yellow;
          }
        }
      }
        .dev-style__border{
          position: absolute;
          margin-top: 5%;
          margin-left: 30%;
          border-bottom: 4px solid $white;
          border-right: 4px solid $white;
          height: 20px;
          width: 20px;
          transform: rotate(-45deg);
          cursor: pointer;
          transition: .5s;
        }
    }
    .dev-style__img{
      a{
        
        z-index: 3;
        img{
          width: 45vw;
          object-fit: cover;
          z-index: 3;
        }
      }
    }
  }


  .dev-advert{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding-top: 100px;
    a{
      text-decoration: none;
      color: $white;
      z-index: 3;
    }
    .dev-advert-block{
      margin-right: 10%;
      .dev-advert-block__anim{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        z-index: 3;
        margin-right: -25%;
        padding-bottom: 5px;
        h2{
          font-size: calc(30px + 15 * (100vw / 1280));
          height: 110px;
          &:hover{
            border-bottom: 3px solid $yellow;
          }
        }
      }
        .dev-advert__border{
          position: absolute;
          margin-top: 4.5%;
          margin-left: 2%;
          border-bottom: 4px solid $white;
          border-right: 4px solid $white;
          height: 20px;
          width: 20px;
          transform: rotate(-45deg);
          cursor: pointer;
          transition: .5s;
        }
    }
    .dev-advert__img{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 35vw;
      a{
        img{
          object-fit: cover;
          width: 60%;
          z-index: 3;
        }
        .pena{
          margin-top: -200px;
          margin-left: 150px;
          z-index: -100;
          
        }
      }
    }
  }

}

.media-block{
  display: none;
}

footer{
  background: $dark;
  background: linear-gradient(2.7deg, $dark 68%, rgba(0,164,255,0) 80%);
  margin-top: 5%;
  .footer-block{
    border-bottom: 4px solid $white;
    margin-top: 2%;
    background-image: url(/fon/fon-footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1%;
    button{
      margin-top: 27px;
      margin-left: -20%;
      border-radius: 10px;
      background-color:  $yellow;
      color: $dark;
      border: none;
      box-shadow: 2px 2px 10px black;
      padding: 10px;
      font-size: 23px;
      transition: .5s;
      cursor: pointer;
      &:hover{
        transition: .5s;
        background-color: $white;
      }
    }
  }
  .footer-block__link{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 4%;
      
    a{
      text-decoration: none;
      color: $white;
      font-size: 20px;
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &:hover{
        text-decoration: underline;
        text-decoration-color: $yellow;
      }
      img{
        margin-right: 10px;
      }
    }
  }
}