::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  font-family: "Poiret One", sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #282828;
}

.menuBtn.active span:nth-of-type(1) {
  display: none;
}

.menuBtn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menuBtn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menuBtn {
  margin-left: 85%;
  cursor: pointer;
  width: 100px;
  height: 30px;
  position: fixed;
  z-index: 3;
  overflow: hidden;
  display: none;
}

.menuBtn span {
  width: 34px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: #FFB400;
  transition: all 0.5s;
}

.menuBtn span:nth-of-type(2) {
  top: calc(20% - 5px);
}

.menuBtn span:nth-of-type(3) {
  top: calc(80% + 5px);
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: #282828;
  transition: 1s;
}
header.color {
  background-color: rgba(40, 40, 40, 0.5);
  transition: 1s;
}
header .navig {
  display: flex;
  align-items: center;
  justify-content: center;
}
header button {
  border-radius: 10px;
  background-color: #FFB400;
  color: #282828;
  border: none;
  box-shadow: 2px 2px 10px black;
  width: 176px;
  height: 52px;
  font-size: 23px;
  transition: 0.5s;
  cursor: pointer;
}
header button:hover {
  transition: 0.5s;
  background-color: #FFFFFF;
}

.header-nav__link {
  display: none;
}

.logo {
  margin-top: 5px;
  margin-left: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul a {
  padding-bottom: 10px;
}
nav a {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 40px;
  font-size: 23px;
  transition: 1s;
  padding-bottom: 5px;
  border-color: #FFB400;
}
nav a:hover {
  border-bottom: 1px solid #FFB400;
}

.container {
  background-image: url(/fon/fonHome.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.line {
  background-image: url(/fon/Group\ 81.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  color: #FFFFFF;
  background-image: url(/fon/Group\ 81.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main h2 {
  font-size: calc(30px + 1.171875vw);
  font-weight: 200;
}
main .table {
  background-color: white;
  margin-top: -5%;
  padding: 8%;
  width: 100%;
  height: 120vh;
  transform: skewY(-7deg);
}
main .table-content {
  margin-top: 5%;
  color: #FFFFFF;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center;
  transform: skewY(7deg);
}
main .table-content img {
  margin-right: -20%;
  margin-bottom: -15.5%;
  width: 70%;
}
main .table-content .table-content__block {
  width: 62%;
  height: 70vh;
  background-color: #282828;
  margin-left: -20%;
  margin-right: -8%;
  padding-top: 5%;
  padding-left: 20%;
}
main .table-content p {
  font-size: calc(20px + 0.390625vw);
  font-weight: 100;
  line-height: 30px;
  margin-top: 50px;
}
main .dev-site {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
main .dev-site a {
  text-decoration: none;
  color: #FFFFFF;
}
main .dev-site .dev-site-block .dev-site-block__anim {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
}
main .dev-site .dev-site-block .dev-site-block__anim h2 {
  font-size: calc(30px + 1.953125vw);
}
main .dev-site .dev-site-block .dev-site-block__anim:hover {
  border-bottom: 3px solid #FFB400;
}
main .dev-site .dev-site-block .dev-site-block__anim:hover .dev-site__border {
  margin-left: 45%;
}
main .dev-site .dev-site-block .dev-site__border {
  position: absolute;
  margin-top: 30%;
  margin-left: 35%;
  border-bottom: 4px solid #FFFFFF;
  border-right: 4px solid #FFFFFF;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: 0.5s;
}
main .dev-site img {
  margin-left: 20%;
  width: 35vw;
  -o-object-fit: cover;
     object-fit: cover;
}
main .dev-style {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding-top: 10%;
}
main .dev-style a {
  text-decoration: none;
  color: #FFFFFF;
}
main .dev-style .dev-style-block {
  margin-left: -30%;
}
main .dev-style .dev-style-block .dev-style-block__anim {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
}
main .dev-style .dev-style-block .dev-style-block__anim h2 {
  font-size: calc(25px + 1.5625vw);
}
main .dev-style .dev-style-block .dev-style-block__anim:hover {
  border-bottom: 3px solid #FFB400;
}
main .dev-style .dev-style-block .dev-style-block__anim:hover .dev-style__border {
  margin-left: 120%;
}
main .dev-style .dev-style-block .dev-style__border {
  position: absolute;
  margin-top: 18%;
  margin-left: 110%;
  border-bottom: 4px solid #FFFFFF;
  border-right: 4px solid #FFFFFF;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: 0.5s;
}
main .dev-style .dev-style__img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 600px;
}
main .dev-style .dev-style__img a img {
  margin-left: -30px;
  margin-top: -30px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .dev-advert {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}
main .dev-advert a {
  text-decoration: none;
  color: #FFFFFF;
}
main .dev-advert .dev-advert-block {
  margin-right: 200px;
  margin-left: 100px;
}
main .dev-advert .dev-advert-block .dev-advert-block__anim {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
}
main .dev-advert .dev-advert-block .dev-advert-block__anim h2 {
  font-size: calc(30px + 1.953125vw);
}
main .dev-advert .dev-advert-block .dev-advert-block__anim:hover {
  border-bottom: 3px solid #FFB400;
}
main .dev-advert .dev-advert-block .dev-advert-block__anim:hover .dev-advert__border {
  margin-left: 20%;
}
main .dev-advert .dev-advert-block .dev-advert__border {
  position: absolute;
  margin-top: 15%;
  margin-left: 10%;
  border-bottom: 4px solid #FFFFFF;
  border-right: 4px solid #FFFFFF;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: 0.5s;
}
main .dev-advert .dev-advert__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin-left: 300px;
}
main .dev-advert .dev-advert__img a img {
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #FFFFFF;
  border-radius: 15px;
  width: 60%;
}
main .dev-advert .dev-advert__img a .pena {
  margin-top: -200px;
  margin-left: 150px;
  z-index: -100;
}

footer {
  background-image: url(/fon/fohHome-footer.png);
  background-size: cover;
  margin-top: 10%;
  padding-top: 2%;
}
footer .footer-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
footer .footer-block button {
  border: none;
  border-radius: 10px;
  background-color: #FFB400;
  color: #282828;
  padding: 15px;
  font-size: 23px;
  box-shadow: 2px 2px 15px black;
  cursor: pointer;
  transition: 1s;
}
footer .footer-block button:hover {
  background-color: #FFFFFF;
}
footer .footer-block__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
footer .footer-block__link a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer .footer-block__link a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #FFB400;
          text-decoration-color: #FFB400;
}
footer .footer-block__link a img {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */