*{
    box-sizing: border-box;
    font-family: 'Poiret One', sans-serif;
    margin: 0;
}
::-webkit-scrollbar {
  width: 0;
}
$yellow: #FFB400;
$dark: #282828;
$white: #FFFFFF;

html {
    scroll-behavior: smooth;
}

body{
  background-color: $dark;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuBtn.active span:nth-of-type(1) {
    display: none;
  }
  
  .menuBtn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  
  .menuBtn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  
  .menuBtn {
    margin-left: 85%;
    
    cursor: pointer;
    width: 100px;
    height: 30px;
    position: fixed;
    z-index: 3;
    overflow: hidden;
    display: none;
  }
  
  .menuBtn span {
    width: 28px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: $yellow;
    transition: all 0.5s;
  }
  
  .menuBtn span:nth-of-type(2) {

    top: calc(20% - 5px);
  }
  
  .menuBtn span:nth-of-type(3) {

    top: calc(80% + 5px);
  }


header{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: $dark;
  transition: 1s;
  &.color{
    background-color: rgb(40,40,40, 0.5);
    transition: 1s;
  }
  .navig{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button{
    border-radius: 10px;
    background-color:  $yellow;
    color: $dark;
    border: none;
    box-shadow: 2px 2px 10px black;
    width: 176px;
    height: 52px;
    font-size: 23px;
    transition: .5s;
    cursor: pointer;
    &:hover{
      transition: .5s;
      background-color: $white;
    }
  }
}
.active{
    border-bottom: 2px solid $yellow;
  }
.logo{
  margin-top: 5px;
  margin-left: 20px;
}
.header-nav__link{
  display: none;
}
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      padding-bottom: 10px;
    }
  }
  a{
    text-decoration: none;
    color: $white;
    margin-right: 40px;
    font-size: 23px;
    transition: 1s;
    padding-bottom: 5px;
    border-color: $yellow;
    &:hover{
      border-bottom: 1px solid $yellow;
    }
  }
}



  .container{
    background-image: url(/fon/fonSiteandMob.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
main{
    margin-top: 10%;
    h2{
        color: $dark;
        font-size: calc(30px + 15 * (100vw / 1280));
        font-weight: 200;
        margin-left: 50px;
    }
    .polyarn{
        margin-top: 15%;
        .polyarn-block{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            img{
              width: 100%;
              height: 400px;
                opacity: .3;
                cursor: pointer;
                transition: 1s;
                &:hover{
                    opacity: 1;
                }
            }
            .polyarn-block__text{
                color: $white;

                h2{
                    margin-left: 0px;
                    color: $white;
                    font-size: calc(30px + 45 * (100vw / 1280));
                }
                p{
                    font-weight: 200;
                    margin-top: 20px;
                    font-size: calc(20px + 15 * (100vw / 1280));
                }
            }
        }
    }

    .cleonOn{
        margin-top: 10%;
        .cleonOn-block{
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            img{
              width: 100%;
              height: 400px;
                opacity: .3;
                cursor: pointer;
                transition: 1s;
                &:hover{
                    opacity: 1;
                }
            }
            .cleonOn-block__text{
                color: $white;
                margin-top: -100px;
                h2{
                    margin-left: 0px;
                    color: $white;
                    font-size: calc(30px + 45 * (100vw / 1280));
                }
                p{
                    font-weight: 200;
                    margin-top: 20px;
                    font-size: calc(20px + 15 * (100vw / 1280));
                }
            }
        }
    }

    .zelek{
        margin-top: 10%;
        .zelek-block{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            img{
              width: 100%;
              height: 400px;
                opacity: .3;
                cursor: pointer;
                transition: 1s;
                &:hover{
                    opacity: 1;
                }
            }
            .zelek-block__text{
                color: $white;

                h2{
                    margin-left: 0px;
                    color: $white;
                    font-size: calc(30px + 45 * (100vw / 1280));
                }
                p{
                    font-weight: 200;
                    margin-top: 20px;
                    font-size: calc(20px + 15 * (100vw / 1280));
                }
            }
        }
    }

}



  footer{
    margin-top: 10%;
    background-color: $dark;
    .footer-block{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      button{
        border: none;
        border-radius: 10px;
        background-color: $yellow;
        color: $dark;
        padding: 20px;
        font-size: 23px;
        box-shadow: 2px 2px 15px black;
        cursor: pointer;
        transition: 1s;
        &:hover{
          background-color: $white;
        }
      }
    }
    .footer-block__link{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      a{
        text-decoration: none;
        color: $white;
        font-size: 25px;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img{
          margin-right: 10px;
        }
        margin-bottom: 15px;
        &:hover{
          text-decoration: underline;
          text-decoration-color: $yellow;
        }
      }
    }
  }