@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Poiret One", sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(/fon/fonSiteandMob.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.menuBtn.active span:nth-of-type(1) {
  display: none;
}

.menuBtn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menuBtn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menuBtn {
  margin-left: 85%;
  cursor: pointer;
  width: 100px;
  height: 30px;
  position: fixed;
  z-index: 3;
  overflow: hidden;
  display: none;
}

.menuBtn span {
  width: 30px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: #27AE60;
  transition: all 0.5s;
}

.menuBtn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menuBtn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  background-color: #282828;
}

.active {
  border-bottom: 2px solid #FFB400;
}

.logo {
  margin-top: 5px;
  margin-left: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav button {
  border-radius: 10px;
  background-color: #FFB400;
  color: #282828;
  border: none;
  box-shadow: 2px 2px 10px black;
  width: 176px;
  height: 52px;
  font-size: 23px;
  transition: 0.5s;
  cursor: pointer;
}
nav button:hover {
  transition: 0.5s;
  background-color: #FFFFFF;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul a {
  padding-bottom: 10px;
}
nav a {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 40px;
  font-size: 23px;
  transition: 1s;
  padding-bottom: 5px;
  border-color: #FFB400;
}
nav a:hover {
  border-bottom: 1px solid #FFB400;
}

.btn-up {
  position: fixed;
  background-color: #FFB400;
  right: 50px;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  z-index: 5;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #202020; /* цвет заднего фона при наведении */
  }
}
main {
  margin-top: 120px;
}
main h2 {
  color: #282828;
  font-size: 40px;
  font-weight: 200;
  margin-left: 50px;
}
main .polyarn {
  margin-top: 50px;
}
main .polyarn .polyarn-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
main .polyarn .polyarn-block img {
  opacity: 0.3;
  cursor: pointer;
  transition: 1s;
}
main .polyarn .polyarn-block img:hover {
  opacity: 1;
}
main .polyarn .polyarn-block .polyarn-block__text {
  color: #FFFFFF;
}
main .polyarn .polyarn-block .polyarn-block__text h2 {
  margin-left: 0px;
  color: #FFFFFF;
  font-size: 45px;
}
main .polyarn .polyarn-block .polyarn-block__text p {
  font-weight: 200;
  margin-top: 20px;
  font-size: 33px;
}
main .cleonOn {
  margin-top: -100px;
}
main .cleonOn .cleonOn-block {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
main .cleonOn .cleonOn-block img {
  opacity: 0.3;
  cursor: pointer;
  transition: 1s;
}
main .cleonOn .cleonOn-block img:hover {
  opacity: 1;
}
main .cleonOn .cleonOn-block .cleonOn-block__text {
  color: #FFFFFF;
  margin-top: -100px;
}
main .cleonOn .cleonOn-block .cleonOn-block__text h2 {
  margin-left: 0px;
  color: #FFFFFF;
  font-size: 45px;
}
main .cleonOn .cleonOn-block .cleonOn-block__text p {
  font-weight: 200;
  margin-top: 20px;
  font-size: 33px;
}
main .zelek {
  margin-top: 0px;
}
main .zelek .zelek-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
main .zelek .zelek-block img {
  opacity: 0.3;
  cursor: pointer;
  transition: 1s;
}
main .zelek .zelek-block img:hover {
  opacity: 1;
}
main .zelek .zelek-block .zelek-block__text {
  color: #FFFFFF;
}
main .zelek .zelek-block .zelek-block__text h2 {
  margin-left: 0px;
  color: #FFFFFF;
  font-size: 45px;
}
main .zelek .zelek-block .zelek-block__text p {
  font-weight: 200;
  margin-top: 20px;
  font-size: 33px;
}

footer {
  margin-top: 200px;
  background-color: #282828;
  height: 120px;
}
footer .footer-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
footer .footer-block button {
  border: none;
  border-radius: 10px;
  background-color: #FFB400;
  color: #282828;
  padding: 20px;
  font-size: 23px;
  box-shadow: 2px 2px 15px black;
  cursor: pointer;
  transition: 1s;
}
footer .footer-block button:hover {
  background-color: #FFFFFF;
}
footer .footer-block__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
footer .footer-block__link a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 25px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}
footer .footer-block__link a img {
  margin-right: 10px;
}
footer .footer-block__link a:hover {
  border-bottom: 2px solid #FFB400;
}/*# sourceMappingURL=style.css.map */